/* Styles pour le diagramme de bits */
#bit-diagram {
    margin-top: 20px;
}

#bits-container {
    display: flex;
    justify-content: center;
}

.bit {
    width: 60px;
    /* Ajuster la largeur */
    height: 60px;
    /* Ajuster la hauteur */
    border: 3px solid #000;
    /* Augmenter l'épaisseur de la bordure */
    margin: 0 6px;
    /* Espacement entre les bits */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.bit-active {
    background-color: #0f0;
    /* Couleur pour les bits actifs (1) */
}

/* Styles pour le reste de la page */
body {
    display: none;
    /* Cacher la page initialement */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('test3.jpg');
    /* Remplacer 'test3.jpg' par le chemin de votre image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Ajouter une opacité au fond */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Ajouter une ombre */
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#decodedResult {
    margin-top: 20px;
}

#frameCount {
    margin-top: 20px;
    font-weight: bold;
}

/* Style pour le texte des résultats */
.decoded-frame {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
}

/* Animation de rotation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 2s linear;
}